body {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  background-color: #5264AE;
}

.nav-left{
  margin-left : 20px;
}
#white-font{
  color: white;
}

.nav-right{
  display: flex;
  margin-left : auto;
  margin-right : 20px;
}
.nav-right-text{
  display : flex;
  width : 10%;
  margin-left : auto;
  margin-right : 20px;
}
#mail-logo{
  padding-top : 1px;
  width: 50%;
}
.explaination {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.title {
  margin-bottom: 1rem;
}

.last-update {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.bold {
  font-weight: bold;
}

.submitBtn {
  padding: 1rem 3rem;
  width: 230px;
  font-size: 1.2rem;
  color: white;
  background-color: rgb(69, 149, 176);
  border-radius: 0.2rem;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


#containerTwo {
  z-index: 1;
  display: block;
  margin: 10px auto;
  width: 60vw;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 10px #aaa;
  padding: 40px 20px;
  border-radius: 3px;
}

#upperContentWrapper p {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 100;
}
#inputBox{ 
  margin-top: 20px;
}

#inputBox span {
  font-size: 14px;
  line-height: 1.4;
}

#inputBox input{

  border: none;
  border-bottom: 1px solid #000;
  width: 100px;
  margin-bottom: 20px;

}

#upperContentWrapper button {
  color: #fff;
  border: none;
  width: 80px;
  height: 35px;
  background-color: #0f9d58;
  box-shadow: 0 0 10px #aaa;
  cursor: pointer;
  border-radius: 3px;
}

#lowerContentWrapper {
  margin-top: 20px;
  box-shadow: 0 0 10px #bbb;
  border-radius: 3px;
  padding-top: 3px;
  box-sizing: border-box;
}


#lowerContentWrapper span{
  font-weight: bold;
}

#lowerContentWrapper>p {
  font-size: 14px;
  margin: 10px;
}

#lowerContentWrapper #secondBox {
  font-size: 13px;
  background-color: #eee;
  padding: 3px 10px;
}

